* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #363537;
}

.Header {
  width: 100%;
  height: 100px;
  background-color: #0CCE6B;
}

.Logo {
  font-size: 50px;
  color: #FAF9F6;
  text-align: center;
  padding: 20px;
}