* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #363537;
}

hr {
  margin: 37.5px;
}

p {
  text-align: center;
  color: #FAF9F6;
  font-size: 25px;
  margin-top: 37.5px;
  font-family: "Roboto", sans-serif;
}

.Header {
  width: 100%;
  height: 100px;
  background-color: #0CCE6B;
}

.Logo {
  font-size: 50px;
  color: #FAF9F6;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.Input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HighRadio {
  accent-color: #cc3232;
  width: 25px;
  height: 25px;
  margin-top: 37.5px;
  margin-right: 37.5px;
}

.MediumRadio {
  accent-color: #e7b416;
  width: 25px;
  height: 25px;
  margin-top: 37.5px;
  margin-right: 37.5px;
}

.LowRadio {
  accent-color: #2dc937;
  width: 25px;
  height: 25px;
  margin-top: 37.5px;
  margin-right: 37.5px;
}

.Box {
  width: 500px;
  height: 50px;
  margin-top: 37.5px;
  background-color: #0CCE6B;
  border-radius: 10px;
  border: none;
  color: #FAF9F6;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.Add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0CCE6B;
  border: none;
  margin-top: 37.5px;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
}

.Container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 37.5px 25px;
  font-family: "Roboto", sans-serif;
}

.HighList {
  width: 500px;
  color: #FAF9F6;
  font-size: 25px;
  
}

.MediumList {
  width: 500px;
  color: #FAF9F6;
  font-size: 25px;
}

.LowList {
  width: 500px;
  color: #FAF9F6;
  font-size: 25px;
}

.Footer {
  text-align: center;
  font-size: 20px;
  width: 100%;
  background-color: #0CCE6B;
  color: #FAF9F6;
  position: fixed;
  bottom: 0;
}